<script setup lang="ts">
import type { VersionReport } from 'reportSchema'
import { computed } from 'vue';
  
const props = defineProps<{
  versionName: string,
  report: VersionReport
}>()

const styles = computed(() => {
  return props.report.status !== 'future'
    ? { '--rate': (props.report.rate * 100) + '%' }
    : {};
})

const icon = computed(() => {
  switch (props.report.status) {
    case 'locked': return 'lock';
    case 'current': return 'motion-play';
    case 'future': return 'timer-sand-empty';
    default: return '';
  }
})
</script>

<template>
  <article 
    :class="[ report.status ]"
    :style="styles"
  >
    <h2>{{ versionName }}</h2>
    <div class="rate" v-if="report.status !== 'future'">
      {{ (report.rate * 100).toFixed(0) }}%
    </div>
    <div class="grade">
      <span class="grade-value" v-if="report.status !== 'future'">{{ report.grade.value.toFixed(2) }}</span>
      <span class="grade-value" v-else>&mdash;</span>
      <span class="grade-maximum">{{ report.grade.maximum.toFixed(2) }}</span>
    </div>
    <div :class="['mdi', 'mdi-' + icon] "/>
  </article>

</template>

<style scoped>
article {
  margin: 0.5rem;
  border: 0.15rem solid hsl(0, 0%, 3%);
  
  display: grid;  
  grid: 
    "version" auto
    "rate"    1fr
    "grade"   auto
    "icon"    auto
    / 1fr;
  place-items: stretch;
  text-align: center;
  
  font-size: 1.4rem;
}

article > * {
  background: linear-gradient(
    to right,
    var(--color-tests-success) 0%,
    var(--color-tests-success) var(--rate),
    var(--color-tests-failure) var(--rate),
    var(--color-tests-failure) 100%
  );
}

article > .mdi {
  border-top: 0.15rem solid black;
  grid-area: icon;
}

article.locked {
  --color-tests-success: var(--color-tests-success-locked);
  --color-tests-failure: var(--color-tests-failure-locked);
}

article.current {
  --color-tests-success: var(--color-tests-success-current);
  --color-tests-failure: var(--color-tests-failure-current);
}

article.future {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 70%);
}

h2 {
  font-size: 1em;
  padding: 0rem 1rem 0.2rem 1rem;
  border-bottom: 0.15rem solid black;
  grid-area: version;
}

.rate {
  padding: 0.2em 1rem;
  grid-area: rate;
}

.grade {
  padding: 0.2em 1rem;
  grid-area: grade;
}
</style>
