<script setup lang="ts">
import type { Report } from '../reportSchema';
import QualityDisplay from './components/QualityDisplay.vue'
import VersionDisplay from './components/VersionDisplay.vue'
import FullTestDisplay from './components/FullTestDisplay.vue'
import TotalGrade from './components/TotalGrade.vue'

defineProps<{
  branch: string;
  date: string;
  report: Report
}>()
</script>

<template>
  <header>
    <h1>Rapport de note</h1>
    <div class="header-branch">Branche: {{ branch }}</div>
    <div class="header-date">Date: {{ date }}</div>
  </header>

  <main>
    <section class="versions">
      <VersionDisplay 
        v-for="(versionReport, versionName) in report.tests.versions" 
        :key="versionName"
        :version-name="versionName + ''"
        :report="versionReport" />
    </section>
    <FullTestDisplay :report="report.tests.full" class="full-test" />
    <section class="quality-and-total">
      <QualityDisplay :report="report.quality" class="quality" />
      <TotalGrade :report="report" class="total" />
    </section>
  </main>
</template>

<style scoped>
header {
  line-height: 1.5;
}

header {
  flex: 1 0;
  display: grid;
  grid: "header header" 1fr
        "branch date  " 1fr
        / 1fr 1fr;

  place-items: center;
}

header h1 {
  grid-area: header;
}

.header-date {
  grid-area: date;
}

.header-branch {
  grid-area: branch;
}

.versions {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.quality-and-total {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}
</style>
